<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>i9 newsletter generator</title>
  <link rel="stylesheet" href="vendor/bootstrap.css" />
  <link rel="stylesheet" href="app.css" />
</head>
<body ng-app="app" ng-controller="NewsletterController" class="hidden">
<ul class="nav nav-tabs">
  <li class="active"><a href="#content" data-toggle="tab">1. Content</a></li>
  <li><a href="#preview" data-toggle="tab">2. Preview</a></li>
  <li><a href="#code" data-toggle="tab">3. Code</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="content">
    <form>
      <div class="form-group">
        <label>Banner image</label>
        <input class="form-control" type="text" placeholder="URL" ng-model="data.header_image_url" />
      </div>
      <div class="form-group">
        <label>Image caption <small>(optional)</small></label>
        <input class="form-control" type="text" ng-model="data.header_image_caption" />
      </div>
      <div class="form-group">
        <label>Intro</label> <a href="markdown.html" target="_blank" class="pull-right">Markdown cheat sheet</a>
        <textarea rows="10" class="form-control" type="text" placeholder="Intro Markdown" ng-model="data.intro"></textarea>
      </div>

      <hr />

      <div class="form-group">
        <label>Featured article image <small>(optional)</small></label>
        <input class="form-control" type="text" placeholder="URL" ng-model="data.article.image_url" />
      </div>
      <div class="form-group">
        <label>Image caption <small>(optional)</small></label>
        <input class="form-control" type="text" ng-model="data.article.image_caption" />
      </div>
      <div class="form-group">
        <label>Article URL</label>
        <input class="form-control" type="text" placeholder="URL" ng-model="data.article.url" />
      </div>
      <div class="form-group">
        <label>Article Title</label>
        <input class="form-control" type="text" ng-model="data.article.title" />
      </div>
      <div class="form-group">
        <label>Article description</label> <a href="markdown.html" target="_blank" class="pull-right">Markdown cheat sheet</a>
        <textarea rows="10" class="form-control" type="text" placeholder="Description Markdown" ng-model="data.article.body"></textarea>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Event Title</label>
            <input class="form-control" type="text" ng-model="data.first_event.title" />
          </div>
          <div class="form-group">
            <label>Event Body</label>
            <input class="form-control" type="text" ng-model="data.first_event.body" />
          </div>
          <div class="form-group">
            <label>Event Image URL</label>
            <input class="form-control" type="text" ng-model="data.first_event.image_url" />
          </div>
          <div class="form-group">
            <label>Event Group Name</label>
            <input class="form-control" type="text" ng-model="data.first_event.group" />
          </div>
          <div class="form-group">
            <label>Event Date</label>
            <input class="form-control" type="text" ng-model="data.first_event.date" />
          </div>
          <div class="form-group">
            <label>Event URL</label>
            <input class="form-control" type="text" ng-model="data.first_event.url" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Event Title</label>
            <input class="form-control" type="text" ng-model="data.second_event.title" />
          </div>
          <div class="form-group">
            <label>Event Body</label>
            <input class="form-control" type="text" ng-model="data.second_event.body" />
          </div>
          <div class="form-group">
            <label>Event Image URL</label>
            <input class="form-control" type="text" ng-model="data.second_event.image_url" />
          </div>
          <div class="form-group">
            <label>Event Group Name</label>
            <input class="form-control" type="text" ng-model="data.second_event.group" />
          </div>
          <div class="form-group">
            <label>Event Date</label>
            <input class="form-control" type="text" ng-model="data.second_event.date" />
          </div>
          <div class="form-group">
            <label>Event URL</label>
            <input class="form-control" type="text" ng-model="data.second_event.url" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Event Title</label>
            <input class="form-control" type="text" ng-model="data.third_event.title" />
          </div>
          <div class="form-group">
            <label>Event Body</label>
            <input class="form-control" type="text" ng-model="data.third_event.body" />
          </div>
          <div class="form-group">
            <label>Event Image URL</label>
            <input class="form-control" type="text" ng-model="data.third_event.image_url" />
          </div>
          <div class="form-group">
            <label>Event Group Name</label>
            <input class="form-control" type="text" ng-model="data.third_event.group" />
          </div>
          <div class="form-group">
            <label>Event Date</label>
            <input class="form-control" type="text" ng-model="data.third_event.date" />
          </div>
          <div class="form-group">
            <label>Event URL</label>
            <input class="form-control" type="text" ng-model="data.third_event.url" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Event Title</label>
            <input class="form-control" type="text" ng-model="data.fourth_event.title" />
          </div>
          <div class="form-group">
            <label>Event Body</label>
            <input class="form-control" type="text" ng-model="data.fourth_event.body" />
          </div>
          <div class="form-group">
            <label>Event Image URL</label>
            <input class="form-control" type="text" ng-model="data.fourth_event.image_url" />
          </div>
          <div class="form-group">
            <label>Event Group Name</label>
            <input class="form-control" type="text" ng-model="data.fourth_event.group" />
          </div>
          <div class="form-group">
            <label>Event Date</label>
            <input class="form-control" type="text" ng-model="data.fourth_event.date" />
          </div>
          <div class="form-group">
            <label>Event URL</label>
            <input class="form-control" type="text" ng-model="data.fourth_event.url" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane" id="preview">
    <iframe id="template2-iframe" src="template-2.html" style="display: none"></iframe>
    <iframe id="template4-iframe" src="template-4.html" style="display: none"></iframe>
    <iframe id="templatesimple-iframe" src="template-simple.html" style="display: none"></iframe>
    <iframe id="preview-iframe" height="100%" width="100%" seamless></iframe>
  </div>
  <div class="tab-pane" id="code">
    <textarea id="code-html"></textarea>
  </div>
</div>

<script src="vendor/jquery.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/bootstrap.js"></script>
<script src="vendor/showdown.js"></script>
<script src="vendor/moment.js"></script>
<script src="app.js"></script>
</body>
</html>
